<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    
    
</head>
<body>
    
<nav>
<div class="navbar">
    <ul>
        <li><a class="active" href="{% url 'tour_list' %}">Tours</a></li>
        <li><a class="active" href="{% url 'tour_category' %}">Tour Categories</a></li>

        <li><a href="{% url 'agent_list' %}">Agents</a></li>
        <li><a href="{% url 'tourreview_list' %}">Reviews</a></li>
        <li><a href="{% url 'booking_tour' %}">Bookings</a></li>
    </ul>
</div>
</nav>

<img class="mainPic" src="{% static 'img/aukland.jpg' %}" width="100%" height="200">

<!-- Content -->
<div class="container mt-5">
    {% block content %}

    {% endblock %}
</div>

<!-- Footer -->
<footer class="text-center p-3 mt-5">
    <p>Copyright © 2023 GoNZ. All rights reserved.</p>
</footer>

</body>
</html>