{% extends 'base.html' %}
{% block title %}
GoNZ-TourList
{% endblock %}

{% block content %}
<h1>Agent Details </h1>
<ul>
    {% comment %} {% for agent in agent  %} {% endcomment %}
    <li>
        <h3> First Name</h3>
        <h3>{{agent.firstName}}</h3>
        <h3> Last Name</h3>
        <h3>{{agent.lastName}}</h3>

        {% comment %} <a href="{% url 'agentDetail' agent.id %}" >View Agent Details</a> {% endcomment %}
    </li>

    
    {% comment %} {% endfor %} {% endcomment %}
</ul>

{% endblock %}
