{% extends 'base.html' %}
{% block title %}
GoNZ-TourList
{% endblock %}

{% block content %}
<h1>Tour Details </h1>
<ul>
    {% comment %} {% for agent in agent  %} {% endcomment %}
    <body>
        
        <p><strong>Title:</strong> {{ tours.title }}</p>
        <p><strong>Description:</strong> {{ tours.description }}</p>
        <p><strong>Agent:</strong> {{ tours.agent.firstName }} {{ tours.agent.lastName }}</p>
    </body>

    
    {% comment %} {% endfor %} {% endcomment %}
</ul>

{% endblock %}
